certifi==2019.11.28
chardet==3.0.4
helpdev==0.6.10
idna==2.8
importlib-metadata==1.3.0
more-itertools==8.0.2
psutil==5.6.7
PyQt5==5.13.2
PyQt5-sip==12.7.0
PyQt5-stubs==5.13.1.3
QDarkStyle==2.7
requests==2.22.0
urllib3==1.25.7
zipp==0.6.0
